/* --- Info Section (CAT) --- */
.info-section {
   padding: 80px 10%;
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 50px;
   align-items: center;

   img {
      width: 100%;
      border-radius: 15px;
      box-shadow: 10px 10px 0px var(--accent-yellow);
   }

   h2 {
      color: var(--primary-blue);
      font-size: 2.5rem;
      margin-bottom: 20px;
   }

   .social-links {
      margin-top: 20px;
      display: flex;
      gap: 20px;

      .tag {
         background: var(--primary-blue);
         color: white;
         padding: 8px;
         width: auto;
         border-radius: 5px;
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 8px;
         text-decoration: none;
         transition: 0.2s;

         i {
            font-size: 1.2rem;
            width: 20px;
         }

         &:hover {
            background-color: var(--dark-blue);
            transform: translateY(-5px);
         }
      }

      .insta {
         background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
      }
   }
}

@media (max-width: 768px) {
   .info-section {
      grid-template-columns: 1fr;

      h2 {
         font-size: 20px;
      }
   }
}