<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Turismo Curuçá - Portal</title>
   <link rel="stylesheet" href="../../public/css/conexao.css">
</head>

<body>

   <nav class="back-nav">
      <div class="text-box">
         <h1>Contatos Úteis</h1>
      </div>
      <div class="btn-box">
         <a href="menu.html" class="btn-voltar">
            <i class="fas fa-chevron-left"></i> Voltar
         </a>
         <a href="../index.php" class="btn-voltar">
            Início <i class="fas fa-house"></i>
         </a>
      </div>
   </nav>

   <main>
      <section id="contact-section">
         <div class="contact">
            BOMBEIROS 193 <i class="fas fa-fire-extinguisher"></i>
         </div>
         <div class="contact">
            hospital (91) 98456-0893 <i class="fas fa-hospital"></i>
         </div>
         <div class="contact">
            cat - centro de atendimento ao turista (91) <i class="fas fa-info"></i>
         </div>
         <div class="contact">
            polícia militar (91) 98631-2863 <i class="fas fa-gun"></i>
         </div>
         <div class="contact">
            polícia civil (91) 98568-4649 <i class="fas fa-user-shield"></i>
         </div>
         <div class="contact">
            samu 192 <i class="fas fa-house-chimney-medical"></i>
         </div>
      </section>
   </main>

   <footer>
      <div class="footer-logos">
         <a href="https://www.sebrae.com.br/" target="_blank"><img src="../../public/imgs/logos-bg/logo-sebrae.webp" alt="sebrae"></a>
         <a href="https://www.cidadeempreendedora.com.br/" target="_blank"><img src="../../public/imgs/logos-bg/logo-cidade-empreendedora.webp" alt="cidade empreendedora"></a>
         <a href="https://www.instagram.com/mturismo/" target="_blank"><img src="../../public/imgs/logos-bg/logo-sec-turismo.webp" alt="secretaria de turismo Curuçá"></a>
         <a href="https://www.instagram.com/prefeituracuruca/" target="_blank"><img src="../../public/imgs/logos-bg/logo-prefeitura-curuca.webp" alt="prefeitura de Curuçá"></a>
      </div>
        <div class="social-links">
            <p>Siga-nos: @turismocuruca.oficial</p>
        </div>
        <hr style="border: 0.5px solid #444; margin-bottom: 20px;">
        <p>&copy; 2026 - Prefeitura Municipal de Curuçá - Todos os direitos reservados.</p>
        <p>Desenvolvedor - <a href="https://github.com/th23dev" target="_blank">Th23dev</a> - <a href="https://instagram.com/th23_dev" target="_blank">@th23_dev</a></p>
    </footer>

</body>
<script src="../js/script.js"></script>
</html>