<!DOCTYPE html>
<html lang="pt-br">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Turismo Curuçá - Portal</title>
   <link rel="stylesheet" href="../../public/css/conexao.css">
</head>

<body>

   <nav class="back-nav">
      <div class="text-box">
         <h1>Praias</h1>
      </div>
      <div class="btn-box">
         <a href="menu.html" class="btn-voltar">
            <i class="fas fa-chevron-left"></i> Voltar
         </a>

         <form action="" method="post">
            <input type="search" name="search" id="search-input" placeholder="Buscar praias...">
            <label for="search-input"><i class="fas fa-search"></i></label>
         </form>
         
         <a href="../index.php" class="btn-voltar">
            Início <i class="fas fa-house"></i>
         </a>
      </div>
   </nav>

   <main>
      <!-- Catálogo de prais -->
      <section class="catalogo">
         <div class="cards-grid">
            <div class="card" onclick="openModal('arrombado')">
               <img src="../../public/imgs/praias/arrombado.webp" alt="Praia do Arrombado">
               <h3>Praia do Arrombado</h3>
            </div>

            <div class="card" onclick="openModal('guara')">
               <img src="../../public/imgs/praias/guara/guara.webp" alt="Praia do Guará">
               <h3>Praia do Guará</h3>
            </div>

            <div class="card" onclick="openModal('japerica')">
               <img src="../../public/imgs/praias/japerica.webp" alt="Praia do Japerica">
               <h3>Praia do Japerica</h3>
            </div>

            <div class="card" onclick="openModal('paxicu')">
               <img src="../../public/imgs/praias/paxicu.webp" alt="Praia do Paxicú">
               <h3>Praia do Paxicú</h3>
            </div>

            <div class="card" onclick="openModal('romana')">
               <img src="../../public/imgs/praias/romana/romana.webp" alt="Praia da Romana">
               <h3>Praia da Romana</h3>
            </div>

            <div class="card" onclick="openModal('santa-rosa')">
               <img src="../../public/imgs/praias/santa-rosa/santa-rosa.webp" alt="Praia da Santa Rosa">
               <h3>Praia da Santa Rosa</h3>
            </div>
      </section>

      <!-- Modais -->
      <div id="modal-arrombado" class="modal">
         <div class="modal-box">
            <span class="close" onclick="closeModal('arrombado')">&times;</span>
            <div class="image-carousel">
               <div class="carousel-images">
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/arrombado.webp');"></div>
               </div>
               <button class="carousel-btn prev" onclick="prevImage('arrombado')">&#10094;</button>
               <button class="carousel-btn next" onclick="nextImage('arrombado')">&#10095;</button>
               <div class="carousel-indicators">
               </div>
            </div>
            <div class="text-box">
               <h2>Praia do Arrombado</h2>
               <p>Habitada por pescadores, com uma extensão aproximada de 2 km.

                  Realiza-se a travessia em cerca de 1h10m, saindo da Orla do Abade.

                  Não possui infraestrutura de hospedagem, alimentos e bebidas.</p>
            </div>
         </div>
      </div>

      <div id="modal-guara" class="modal">
         <div class="modal-box">
            <span class="close" onclick="closeModal('guara')">&times;</span>
            <div class="image-carousel">
               <div class="carousel-images">
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/guara/guara.webp');"></div>
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/guara/guara1.webp');"></div>
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/guara/guara2.webp');"></div>
               </div>
               <button class="carousel-btn prev" onclick="prevImage('guara')">&#10094;</button>
               <button class="carousel-btn next" onclick="nextImage('guara')">&#10095;</button>
               <div class="carousel-indicators">
               </div>
            </div>
            <div class="text-box">
               <h2>Praia do Guará</h2>
               <p>A Praia do Guará está localizada no litoral Curuçaense.
                  Realiza-se a travessia em cerca de 1h45m, saindo da Orla do abade.
                  Não possui infraestrutura de hospedagem, alimentos e bebidas.</p>
            </div>
         </div>
      </div>

      <div id="modal-japerica" class="modal">
         <div class="modal-box">
            <span class="close" onclick="closeModal('japerica')">&times;</span>
            <div class="image-carousel">
               <div class="carousel-images">
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/japerica.webp');"></div>
               </div>
               <button class="carousel-btn prev" onclick="prevImage('japerica')">&#10094;</button>
               <button class="carousel-btn next" onclick="nextImage('japerica')">&#10095;</button>
               <div class="carousel-indicators">
               </div>
            </div>
            <div class="text-box">
               <h2>Praia do Japerica</h2>
               <p>A Praia do Japerica possui uma extensão de aproximadamente 1 km.
                  Realiza-se a travessia em cerca de 30m, saindo da Orla do abade.
                  Não possui infraestrutura de hospedagem, alimentos e bebidas.
               </p>
            </div>
         </div>
      </div>

      <div id="modal-paxicu" class="modal">
         <div class="modal-box">
            <span class="close" onclick="closeModal('paxicu')">&times;</span>
            <div class="image-carousel">
               <div class="carousel-images">
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/paxicu.webp');"></div>
               </div>
               <button class="carousel-btn prev" onclick="prevImage('paxicu')">&#10094;</button>
               <button class="carousel-btn next" onclick="nextImage('paxicu')">&#10095;</button>
               <div class="carousel-indicators">
               </div>
            </div>
            <div class="text-box">
               <h2>Praia do Paxicú</h2>
               <p>A Praia possui uma extensão de aproximadamente 2 km, com faixa de areia fina e vegetação litorânea.
                  Realiza-se a travessia em cerca de 1h, saindo da Orla do abade.
                  Não possui infraestrutura de hospedagem, alimentos e bebidas. </p>
            </div>
         </div>
      </div>

      <div id="modal-romana" class="modal">
         <div class="modal-box">
            <span class="close" onclick="closeModal('romana')">&times;</span>
            <div class="image-carousel">
               <div class="carousel-images">
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/romana/romana.webp');"></div>
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/romana/romana1.webp');">
                  </div>
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/romana/romana2.webp');">
                  </div>
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/romana/romana3.webp');">
                  </div>
                  <div class="carousel-image" style="background-image: url('../../public/imgs/praias/romana/romana4.webp');">
                  </div>
               </div>
               <button class="carousel-btn prev" onclick="prevImage('romana')">&#10094;</button>
               <button class="carousel-btn next" onclick="nextImage('romana')">&#10095;</button>
               <div class="carousel-indicators">
               </div>
            </div>
            <div class="text-box">
               <h2>Praia da Romana</h2>
               <p>Habitada por pescadores, com uma extensão aproximada de 11 km.
                  Realiza-se a travessia em cerca de 1h30m, saindo da Orla do Abade.
                  Não possui infraestrutura de hospedagem, alimentos e bebidas.</p>
            </div>
         </div>
      </div>

      <div id="modal-santa-rosa" class="modal">
         <div class="modal-box">
            <span class="close" onclick="closeModal('santa-rosa')">&times;</span>
            <div class="image-carousel">
               <div class="carousel-images">
                  <div class="carousel-image"
                     style="background-image: url('../../public/imgs/praias/santa-rosa/santa-rosa.webp');"></div>
                  <div class="carousel-image"
                     style="background-image: url('../../public/imgs/praias/santa-rosa/santa-rosa1.webp');"></div>
                  <div class="carousel-video">
                     <video controls>
                        <source src="../imgs/praias/santa-rosa/santa-rosa-video1.webm" type="video/mp4">
                        Seu navegador não suporta o elemento de vídeo.
                     </video>
                  </div>
               </div>
               <button class="carousel-btn prev" onclick="prevImage('santa-rosa')">&#10094;</button>
               <button class="carousel-btn next" onclick="nextImage('santa-rosa')">&#10095;</button>
               <div class="carousel-indicators">
               </div>
            </div>
            <div class="text-box">
               <h2>Praia da Santa Rosa</h2>
               <p>A Praia da Santa Rosa possui uma extensão de aproximadamente 1 km, com faixa de areia fina e vegetação
                  litorânea.
                  Realiza-se a travessia em cerca de 1h30m, saindo da Orla do Abade.
                  Não possui infraestrutura de hospedagem, alimentos e bebidas. </p>
            </div>
         </div>

   </main>

   <footer>
      <div class="footer-logos">
         <a href="https://www.sebrae.com.br/" target="_blank"><img src="../../public/imgs/logos-bg/logo-sebrae.webp" alt="sebrae"></a>
         <a href="https://www.cidadeempreendedora.com.br/" target="_blank"><img src="../../public/imgs/logos-bg/logo-cidade-empreendedora.webp" alt="cidade empreendedora"></a>
         <a href="https://www.instagram.com/mturismo/" target="_blank"><img src="../../public/imgs/logos-bg/logo-sec-turismo.webp" alt="secretaria de turismo Curuçá"></a>
         <a href="https://www.instagram.com/prefeituracuruca/" target="_blank"><img src="../../public/imgs/logos-bg/logo-prefeitura-curuca.webp" alt="prefeitura de Curuçá"></a>
      </div>
        <div class="social-links">
            <p>Siga-nos: @turismocuruca.oficial</p>
        </div>
        <hr style="border: 0.5px solid #444; margin-bottom: 20px;">
        <p>&copy; 2026 - Prefeitura Municipal de Curuçá - Todos os direitos reservados.</p>
        <p>Desenvolvedor - <a href="https://github.com/th23dev" target="_blank">Th23dev</a> - <a href="https://instagram.com/th23_dev" target="_blank">@th23_dev</a></p>
    </footer>

</body>
<script src="../../public/js/script.js"></script>
<script src="../../public/js/catalogo.js"></script>

</html>